@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", serif;
    font-size: auto;
    font-style: normal;
    margin: 0;
}

body {
    margin: 0;
    max-height: 100vh;
    max-width: 100%;
    background-image: url('/image/фон 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.container {
    width: 100%;
    max-width: 1288px;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
}
main {
    display: flex;
    max-width: 100%;
    margin-bottom: 50px;
}

.logo:hover {
    left: 150px;
    top: 55px;
    transform: scale(1.5);
}

.lk {
    width: 54px;
    height: 54px;
}

.lk:hover {
    transform: scale(1.5);
    border-radius: 100px solid rgb(49, 36, 105);
}

header .container {
    max-width: 100%;
    font-family: "Montserrat", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8ba8d;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.nav-header {
    padding: 20px;
}

.ul-header {
    display: flex;
    list-style: none;
}

.li-header {
    display: flex;
    margin-right: 45px;
}

.a-header {
    color: hsla(47, 18%, 20%, 0.814);
    text-decoration: none;
    font-size: 18px;
}

.a-header:hover {
    color: rgb(4, 1, 48);
}

h1:hover {
    color: rgb(4, 1, 48);
}

footer {
    background-color: #c8ba8d;
}

.footer *p {
    color: hsla(47, 18%, 20%, 0.814);
}

.footer p:hover {
    color: rgb(4, 1, 48);
    font-size: 18px;
}

  
.footer1 {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


.mail {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    font-size: 14px;
    font-style: normal;
}

.tel {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:flex-start;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    font-style: normal;
}

.tel img {
    width: 10px;
    height: 10px;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-icon img {
    width: 36px;
    height: 36px;
}
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* .footer1, .footer2 {
    width: 48%;
} */


.footer2 {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    text-align: center;
    flex-direction: row;
    gap: 20px;
}

.nav1-footer ul {
    display: flex;
    list-style: none;
    padding: 10px;
    flex-direction: column;
}



.a-footer:hover {
    color: rgb(4, 1, 48);
}

.a-footer {
    color: hsla(47, 18%, 20%, 0.814);
    text-decoration: none;
    font-size: 12px;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    color: hsla(47, 18%, 20%, 0.814);
    font-size: 14px;
    font-style: normal;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#copyright {
    height: 20px;
    width: 20px;
}

.perehod img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid rgb(4, 1, 48);
    font-size: 18px;
}

.perehod>a:hover {
    transform: scale(1.5);
}

/* .perehod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    padding: 0 120px 0 120px;
    margin-bottom: 20px;
} */

.baner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    margin-bottom: 50px;
}

h1 {
    /* color: hsla(47, 18%, 20%, 0.814); */
    
    font-family: "Montserrat", sans-serif;
    font-weight: 900; /* Жирный текст */
    font-size: 36px;
    background: linear-gradient(45deg, #544848,  #e3e3d2, #4a6545, #fbc2eb, #a6c1ee, #928da7, #e3e3d2); /* Переливающийся градиент */
    -webkit-background-clip: text; /* Применяем градиент к тексту */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным */
    background-size: 300% 300%; /* Увеличиваем размер градиента для анимации */
    animation: gradient-shift 5s ease infinite; /* Анимация перелива */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для лучшей читаемости */
}
@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20px;
}

.card1, .card2 {
    width: 48%;
    background-color: #f5f2e860;
    border: 1px solid #0f0520;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5); /* Тень */
    backdrop-filter: blur(2px); /* Размытие для эффекта стекла */
}

.card1 a:hover, .card2 a:hover {
    color: rgb(4, 1, 48);
    font-size: 22px;
}

.card1 a, .card2 a {
    color: hsla(60, 33%, 99%, 0.814);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

}

.btn-vibor {
    width: 200px;
    height: 50px;
     background: linear-gradient(360deg, rgba(55, 58, 70, 0.8), rgb(122, 134, 113),  rgba(111, 115, 104, 0.43), rgb(122, 134, 113), rgba(37, 73, 52, 0.8), rgba(55, 58, 70, 0.8)); /* Изумрудно-голубой градиент */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5); /* Тень */
    backdrop-filter: blur(10px); /* Размытие для эффекта стекла */
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    color: rgb(49, 36, 105);
    border: 2px solid #0f0520;
    border-radius: 15px;
    gap: 20px;
}

.btn-proba:hover {
    animation: puls 5s 3;
}

@keyframes puls {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}


.btn-vibor, .btn-proba {
    margin-bottom: 10px;
}
.btn-proba {
    width: 200px;
    height: 50px;
    display: flex;
    font-size: 10px;
    text-align: center;
    border: 2px solid #0f0520;
    border-radius: 16px;
    padding: auto;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-bottom: 50px;
    background: linear-gradient(360deg, rgba(55, 58, 70, 0.8), rgb(122, 134, 113),  rgba(111, 115, 104, 0.43), rgb(122, 134, 113), rgba(37, 73, 52, 0.8), rgba(55, 58, 70, 0.8)); /* Изумрудно-голубой градиент */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5); /* Тень */
    backdrop-filter: blur(10px); /* Размытие для эффекта стекла */
}
.proba a {
    font-size: 14px;
}
.proba a:hover {
    color: rgb(49, 36, 105);
}

@media(max-width:1250px) {

    header,
    .container,

    .copyright,
    .box {
        justify-content: center;
        text-align: center;
    }

    .card {
        width: 100%;
        margin-bottom: 45px;
    }

    .baner>h1 {
        font-size: 20px;
    }

    .box {
        flex-direction: column;
    }

    .card1,
    .card2 {
        width: 70%;
        margin-bottom: 45px;
    }
}
  /* Добавьте свои стили здесь */
    
  @media (max-width: 1100px) {
    .footer {
        flex-direction: column;
    }

    .footer1, .footer2 {
        width: 100%;
    }

    .footer-icon {
        justify-content: center;
        margin-bottom: 20px;
    }

    .footer2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav1-footer, .nav2-footer, .nav3-footer {
        margin-bottom: 10px;
    }

    .copyright {
        margin-top: 10px;
    }
}

@media(max-width:1024px) {

    header,
    .container,
  footer,
    .copyright,
    .box {
        justify-content: center;
        text-align: center;
    }

    .footer3 ul {
        flex-wrap: wrap;
    }

    .baner>h1 {
        font-size: 20px;
    }

    .footer>ul {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .header_ul {
        justify-content: flex-start;
    }

    nav {
        padding: 0;
    }

    .box {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 45px;
    }
}
