@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* korean */
/* {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
/* rus  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
    font-family: "Montserrat", serif;
    font-size: auto;
    /* color: rgb(139, 139, 139); */
    font-style: normal;
    margin: 0;
}

body {
    margin: 0;
    max-height: 100vh;
    max-width: 100%;
}

.container {
    max-width: 1288px;
    margin: 0 auto;

}

main {
    display: flex;
    max-width: 100%;
    margin-bottom: 50px;
}

.logo:hover {
    left: 150px;
    top: 55px;
    transform: scale(1.5);
}

.lk {
    width: 54px;
    height: 54px;
}

.lk:hover {
    transform: scale(1.5);
    border-radius: 100px solid rgb(49, 36, 105);
}

header .container {

    max-width: 100%;
    font-family: "Montserrat", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8ba8d;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* text-transform:capitalize; */
    margin-bottom: 50px;
}

.nav-header {
    padding: 20px;

}

.ul-header {
    display: flex;
    list-style: none;
}

.li-header {
    display: flex;
    margin-right: 45px;
}

.a-header {
    color: hsla(47, 18%, 20%, 0.814);
    text-decoration: none;
    font-size: 18px;
}

.a-header:hover {
    color: rgb(4, 1, 48);
}

                                                          /* footer */

footer {
    background-color: #c8ba8d;
  

}
.footer *p{
    color: hsla(47, 18%, 20%, 0.814);
}
.footer p:hover{
    color: rgb(4, 1, 48);
    font-size: 18px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    /* color: rgb(139, 139, 139); */
    gap: 50px;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: rgb(139, 139, 139); */
    font-size: 14px;
    font-style: normal;
}

.tel {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2px;
    /* color: rgb(139, 139, 139); */
    font-size: 14px;
    font-style: normal;
}

.tel img {
    width: 10px;
    height: 10px;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-icon img {
    width: 36px;
    height: 36px;
}

.footer2 {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    /* color: rgb(139, 139, 139); */
    gap: 50px;
 
}
.nav1-footer, .nav2-footer, .nav3-footer{
    padding: 10px;
    /* margin-left: 0; */
}
.ul-footer {
    display: flex;
    list-style: none;
}
.li-footer{
    display: flex;
    margin-right: 45px;
}
.a-footer:hover{
    color: rgb(4, 1, 48);
  
    
}
.a-footer {
    color: hsla(47, 18%, 20%, 0.814);
    text-decoration: none;
    font-size: 12px;

}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
gap: 3px;
color: hsla(47, 18%, 20%, 0.814);
    /* color: rgb(139, 139, 139); */
font-size: 14px;
font-style: normal;
}

#copyright {
    height: 20px;
    width: 20px;

}

.perehod img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid rgb(4, 1, 48);
    font-size: 18px;
}

.perehod>a:hover {
    transform: scale(1.5);

}

.perehod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    padding: 0 120px 0 120px;
    margin-bottom: 20px;

}


/* главная страница */
.baner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    margin-bottom: 50px;


}

h1 {

    color: hsla(47, 18%, 20%, 0.814);
    font-size: 34px;

}


.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
}

.card {
    width: 40%;
    background-color: #f5f2e8;
    border: 1px solid #0f0520;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;

}

.a-card:hover {
    color: rgb(4, 1, 48);
    font-size: 18px;
}

.a-card {
    color: hsla(47, 18%, 20%, 0.814);
    text-decoration: none;
    font-size: 18px;
}

.btn-vibor {
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    color: rgb(49, 36, 105);
    border: 2px solid #0f0520;
    border-radius: 15px;
    gap: 20px;
}

.btn-proba:hover {
    animation: puls 5s 3;
}

@keyframes puls {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.proba a {
    font-size: 14px;
}

.btn-proba {
    width: 200px;
    height: 50px;
    display: flex;
    font-size: 10px;
    text-align: center;
    border: 2px solid #0f0520;
    border-radius: 16px;
    padding: auto;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-bottom: 50px;
}

.proba a:hover {
    color: rgb(49, 36, 105);
}

/* адаптация */
@media(max-width:1250px) {

    header,
    .container,
    footer,
    .copyright,
    .box {
        justify-content: center;
        text-align: center;

        .card {
            width: 100%;

            margin-bottom: 45px;
        }
    }

    .baner>h1 {
        font-size: 20px;
    }

    /* .ul-footer{
                align-items:center;
                justify-content: center;
                gap: 20px;
              } */
    .box {
        flex-direction: column;
    }

    .card {
        width: 70%;

        margin-bottom: 45px;
    }

    /* .a_footer{
                font-size: 10px;
             } */

}

@media(max-width:1024px) {

    header,
    .container,
    footer,
    .copyright,
    .box {

        justify-content: center;
        text-align: center;
    }

    .footer3 ul {
        flex-wrap: wrap;
    }

    .baner>h1 {
        font-size: 20px;
    }

    .footer>ul {
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

    .header_ul {
        justify-content: flex-start;
    }

    nav {
        padding: 0;
    }

    .box {
        flex-direction: column;
    }

    .card {
        width: 100%;

        margin-bottom: 45px;
    }

}

/* @media(max-width:850px){
    header, .container, footer, .copyright, .box{
       
        justify-content: center;
        text-align: center;
        }
    .baner>h1{
        font-size: 14px;
                }
              .footer>ul{
                align-items:center;
                justify-content: center;
                gap: 20px;
              
              }
             .a_header{
                font-size: 10px;
             }
           
              .box{
                flex-direction: column;
              }
            
            
              .logo{
                width: 50px;
                height: 20px;
              }
              .lk{
                width: 30px;
                height: 30ph;
              }
              nav{
                padding: 0;
              }
              ul{
                padding: 0;
              }
              li{
               margin-right: 10px;
              }
          
} 
@media(max-width:612px){
    header, .container, footer, .copyright, .box{
       
        justify-content: center;
        text-align: center;
        }
    .baner>h1{
        font-size: 10px;
                }
              .footer>ul{
                align-items:center;
                justify-content: center;
                gap: 20px;
              
              }
            
             .a_header{
                font-size: 6px;
             }
           
              .box{
                flex-direction: column;
              }
            
            .logo{
                width: 30px;
                height: 10px;
              }
              .lk{
                width: 20px;
                height: 20ph;
              }
              nav{
                padding: 0;
              
              }
              ul{
                padding: 0;
              }
              li{
               margin-right: 10px;
              }
              .footer1{
                flex-wrap: wrap;
              }
              .container{
                padding: 0;
                margin: 0;
              }
              .box{
                padding:36px;
              }
              .card{
                padding-right: 30px;
              
              }
              
}  */