@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* korean */
 /* {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
                                    /* rus  */
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
   /* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
*{
    font-family: "Montserrat", serif;
  font-size: auto;
  
  font-style: normal;
    padding: 0;
    margin: 0;
}
main{
    padding: 0 100px;
    width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar{
    width: 300px;
}
.theory{
    width: calc(100% - 300px);
}


h1,h2,h3,h4{
    font-family: "Manrope", serif;
}
p{
    font-family: "Montserrat", serif;
}
li{
    list-style: none;
}
/* карусель */

.urok{
    position: relative;
   
}

.prev2{
   
    position: absolute !important;
    left: 0;
    bottom: -70px;
}
.next2{
   
    position: absolute !important;
    right: 0;
    bottom: -70px;
}
